.panel {
	display: flex;
	flex-flow: row wrap;
	margin-left: 10px;
	margin-bottom: 5px;
	border-bottom: 2px solid #5690ca;
}

.sidepanel {
	display: flex;
	flex-direction: column;
	flex: 0 1 auto;
	width: 75px;
	/*height: 100%;*/
	margin: 20 10;
	border: 1px solid grey;
	justify-content: space-between;
	font-family: sans-serif;
	font-size: 14px;
}

.sideitem {
	cursor: pointer;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: space-around;
	height: 60px;
	margin: 5px 5px;
	background-color: lightgrey;
	border: 1px solid black;
	border-radius: 6px;
}

.sideitemCurrent {
	composes: sideitem;
	color: white;
	background-color: darkgrey;
}

.sideControl {
	composes: sideitem;
	height: 25px;
}

.infoModels {
	width: 300px;
	margin-left: 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.infoGraph {
	display: flex;
	justify-content: center;
}

.chart {
	display: flex;
	flex: 1;
	flex-wrap: nowrap;
}

.chartInput {
	display: flex;
	flex:1 0 auto;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 10;
	z-index: 0;
}

.paramForm {
	height: 200px;
	background-color: green;
}

.miniMapTitle {
	min-height: 20px;
	margin-left: 10px;
}
.miniMap {
	height: 250px;
	width: 300px;
	margin-bottom: 20px;
}
.addDelPanels {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.addDelPanels button {
	margin-bottom: 10px;
	font: inherit;
	color: white;
	background-color: #f6892e;
	border-color: #f57b16;
	border: 1px;
	border-radius: 4px;
	padding: 6px 12px;
	cursor: pointer;
}

.chartOutput {
	display: flex;
	width: 100%;
	flex: 0 0 auto;
}

.chartBody {
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
}

.chartHeader1 {
	width: 100%;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	margin-left: 20px;
	margin-top: 10px;
}
.chartHeader2 {
	width: 100%;
	font-weight: bold;
	text-align: center;
	margin-left: 20px;
	margin-top: 5px;
}

.chartTable {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.chartTable button {
	margin: 15px 0px;
	width: 150px;
	font: inherit;
	color: white;
	background-color: #f6892e;
	border-color: #f57b16;
	border: 1px;
	border-radius: 4px;
	padding: 6px 12px;
	cursor: pointer;
}
.chartTable table {
	width: 175px;
	border-radius: 4px;
	border: 1px solid grey;
	/*font-size: 1.0em;*/
}
.chartTable th {
	text-align: center;
	font-size: 1.0em;
	line-height: 0.9em;
}
.col1 {
	font-size: 0.9em;
	text-align: left;
	line-height: 1.3em;
	min-width: 5em;
}
.col2 {
	font-size: 0.9em;
	text-align: center;
	line-height: 1.3em;
	min-width: 3em;
}
.col3 {
	text-align: right;
	line-height: 1.3em;
	min-width:20px;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path, .axis line {
  stroke: #000;
  fill: none;
  stroke-width: 1px;
}

.highlight {
	fill: none;
	stroke: red;
	stroke-opacity: 0.4;
	stroke-width: 2px;
}

.axisLabel {
	font-size: 90%;
}

.areaHi {
	stroke: none;
	fill: red;
	fill-opacity: 0.3;
}
.areaLo {
	stroke: none;
	fill: blue;
	fill-opacity: 0.3;
}
.lineHi{
	fill: none;
	stroke: red;
	stroke-opacity: 0.8;
	stroke-width: 2px;
}
.lineMd{
	fill: none;
	stroke: grey;
	stroke-opacity: 1.0;
	stroke-width: 2px;
}
.lineLo{
	fill: none;
	stroke: blue;
	stroke-opacity: 0.8;
	stroke-width: 2px;
}
.prismLine {
	fill: none;
	stroke: black;
	stroke-opacity: 0.6;
	stroke-width: 2px;
}
.prismDots {
	fill: black;
	fill-opacity: 0.3;
	stroke: none;
}
.prismDotsOver {
	fill: red;
	fill-opacity: 1.0;
	stroke: none;
}
